.headingNav {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 23px;
  color: white !important;
  margin-top: 5px;
}
.verticalLine {
  width: 2px;
  height: 30px;
  margin: 0 10px;
  background-color: grey;
}
.css-ffrkhr {
  width: 60% !important;
  height: 600px !important;
  overflow-y: scroll !important;
}
.PrescriptionStickyButton {
  outline: none;
  border: none;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}
.DoctorRecordsDivMain {
  height: 100vh;
  overflow-y: scroll;
}
