.color1 {
  background-color: #b3eef5 !important;
}
.color2 {
  color: #202b2c !important;
}
.color3 {
  background-color: #eaeaea !important;
}
.doctorcolor {
  background-color: #256d85 !important;
}
.patientcolor {
  background-color: #00abb3 !important;
}
.pharmacycolor {
  background-color: #003865 !important;
}
