.color1 {
  background-color: #eaeaea !important;
}
.doctorcolor {
  background-color: #01686e !important;
}

.pharmacycolor {
  background-color: #2f4f52 !important;
}

.color2 {
  background-color: #cde5df !important;
}
.color4 {
  background-color: #519fa8 !important;
}

.patientcolor {
  background-color: #256d85 !important;
}
.color3 {
  background-color: #b3eef5 !important;
}
