.color1 {
  color: #93d3da !important;
}
.color2 {
  color: #202b2c !important;
}
.doctorcolor {
  background-color: #256d85 !important;
}
.studentcolor {
  background-color: #6b5b95 !important;
}
.pharmacycolor {
}
